<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Full Friends</title>
</head>
<body>
	<table>
		<tr>
			<th>Name</th>
			<th>Age</th>
			<th>Join Date</th>
			<th>Year</th>
			<th>Options</th>
		</tr>
		{% for friend in all_friends: %}
		<tr>
			<td><a href="/{{ friend['id'] }}">{{ friend['name'] }}</a></td>
			<td>{{ friend['age'] }}</td>
			<td>{{ friend['join_date'] }}</td>
			<td>{{ friend['year'] }}</td>
			<td>
				<a href="/{{ friend['id'] }}">Show</a>
				<a href="/{{ friend['id'] }}/edit">Edit</a>
				<a href="/{{ friend['id'] }}/delete">Delete</a>
			</td>
		</tr>
		{% endfor %}
	</table>
	<a href="/new">Create New User</a>
</body>
</html>